{% extends 'base.html.twig' %}

{% block body %}
    {% include '@Blog/_pagination.html.twig' %}
    {% for article in articles %}
        <div>
            <h2>
                <a href="{{ path('article_detail', {id: article.id}) }}">{{ article.title }}</a>
            </h2>
            <p>
                {{ article.content[0:150] }}
                {% if article.content|length > 150 %}...{% endif %}
            </p>
        </div>
        <div>
            <form action="{{ path('article_delete', {id: article.id}) }}" method="post">
                <input type="submit" class="btn btn-danger delete-btn" value="Delete"/>
            </form>
        </div>
    {% endfor %}
{% endblock %}
