{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <a href="{{ path('article_create', {id: article.id, article_create: 'false'}) }}" class="btn btn-primary pull-right">Edit</a>
        <h1>{{ article.title }}</h1>
        <hr/>
        <img src="{{ article.image }}">
        <p>{{ article.content }}</p>
    </div>
    <div>
        <h3>Comments:</h3>
        {% if article.comments %}
            {% for comment in article.comments %}
                {% if not comment.parent %}
                    {{ _self.child_comment(comment, 0) }}
                {% endif %}
            {% endfor %}
        {% else %}
            There are no comments for this article.
        {% endif %}
        <button class="bn btn-success btn-lg reply-btn">Comment to article</button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Reply</h4>
                </div>
                <form method="post" action="{{ path('article_detail', {id: article.id }) }}">
                    <div class="modal-body">
                        {{ form_start(comment_form) }}
                            {{ form_errors(comment_form) }}

                            {{ form_label(comment_form.content) }}
                            {{ form_widget(comment_form.content) }}
                            {{ form_errors(comment_form.content) }}

                            {{ form_widget(comment_form.parentId) }}
                            {{ form_widget(comment_form._token) }}

                            <div class="modal-footer left">
                                {{ form_widget(comment_form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        {{ form_end(comment_form) }}
                    </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% macro child_comment(comment, level) %}
    {% import _self as macrosRoot %}

    {{ macrosRoot.comment_block(comment, level) }}

    {% if comment.children|length > 0 %}
        {% for child in comment.children %}
            {% set newLevel = level + 1 %}
            {{ macrosRoot.child_comment(child, newLevel) }}
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro comment_block(comment, level) %}
    {% set margin = 15 + level * 50 %}
    <div style="margin-left: {{ margin }}px" class="comment-details" data-id="{{ comment.id }}">
        <h5>
            Comment date: {{ comment.createdAt|date }}
            <button type="button" class="btn btn-primary btn-xs reply-btn">
                Reply
            </button>
        </h5>
        <p class="comment-content">
            {{ comment.content }}
        </p>
        <hr/>
    </div>
{% endmacro %}