<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('blog_homepage') }}">
                Home
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {{ render(controller('BlogBundle:Category:__categoryMenu')) }}
                <li><a href="{{ path('article_create') }}">New article</a></li>
                <li><a href="{{ path('contact_create') }}">Contact</a></li>
            </ul>
            <div class="navbar-right">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a class="nav navbar-brand navbar-right" href="{{ path('logout') }}">Logout, {{ app.user.username }}</a>
                {% else %}
                    <a class="nav navbar-brand navbar-right" href="{{ path('login') }}">Login</a>
                    <a class="nav navbar-brand navbar-right" href="{{ path('register') }}">Register</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
