{% extends "base.html.twig" %}

{% block body %}
    <form action="{{ path('login_check') }}" method="post" >
        <div class="form-group{% if error %} has-warning{% endif %}">
            <label class="form-control-label" for="username">Username</label>
            <input  type="text" class="form-control{% if error %} form-control-warning{% endif %}"
                    id="username" name="_username" placeholder="Enter username"  value="{{ last_username }}">
        </div>
        <div class="form-group{% if error %} has-warning{% endif %}">
            <label class="form-control-label" for="exampleInputPassword3">Password</label>
            <input  type="password" class="form-control{% if error %} form-control-warning{% endif %}"
                    id="exampleInputPassword3"  name="_password"  placeholder="Password">
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button type="submit" class="btn btn-primary">Sign in</button>
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    </form>
{% endblock %}
