<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
    <ul class="dropdown-menu">
        {% for category in categories %}
            <li><a href="{{ path('category_list', {id: category.id}) }}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
</li>
